/*
.navbar {
    height: 80px;
    padding: 0
}

.collapse, .navbar-collapse {
    height: 100%;
}

.ml-auto, .navbar-nav {
    height: 100%;
}

.nav-item {

}
*/

:root {
    --color1: #94090D;
    --color2: #5C0002;
    --color-footer: #FF1D23;
}

.bg-light {
    background-color: var(--color1) !important
}

.nav-link {
    font-weight: bold
}

.card-header {
    color: white;
    font-weight: bold;
    background-color: var(--color2)
}

.btn-secondary {
    background-color: var(--color1)
}

footer {
    background-color: var(--color-footer);
}

footer .fab, footer .footer-copyright {
    color: white
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column
}

.container.chat-container, .container.profile-container {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px
}

.chat-container .row {
    height: 100%;
}

.card-conversation {
    flex: 1;
    margin-bottom: 15px
}

.container-card-conversation {
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
}

.chat-input-container {
    display: flex;
}

.chat-input-container input {
    margin-right: 10px
}

.nav.nav-tabs .nav-link {
    cursor: pointer;
}

.nav.nav-tabs {
    margin-bottom: 10px
}

.container-user-list {
    display: flex;
    flex-direction: column
}

.container-user-list .list, .container-user-list .tab-content {
    flex: 1
}

.tab-pane.container-user-list {
    height: 100%;
    /*padding-bottom: 10px;*/
    display: flex;
    flex-direction: column
}

.list-group-item {
    cursor: pointer;
}

.chatMe {
    display: inline;
    font-weight: bold;
    font-size: 18px
}

.message-text-left {
    padding: 0 10px;
    text-align: left
}

.message-text-right {
    padding: 0 10px;
    text-align: right
}